/* 
规范: 
1. padding 单位 rem
2. border 单位 px
3. margin 单位 rem
4. border-radius 单位 px / %
5. gap 单位 rem
6. 内层滚动条盒子需要允许文本换行
*/

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  touch-action: manipulaton;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "left-aside main right-aside";
  grid-template-columns: 0.8fr 3fr;
  margin-top: 1rem;
  background-color: rgb(233, 231, 231);
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0.5rem;
}

.intro main {
  text-align: center;
  white-space: wrap;
  word-break: break-all;
}

.intro h2 {
  margin-bottom: 0.5rem;
}

.intro span {
  display: inline-block;
  margin-top: 0.4rem;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  background-color: orange;
  border-radius: 10px;
  padding: 0.1rem 0.5rem;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.option {
  height: 3rem;
  padding: 0.5rem 2.6rem;
  border-radius: 9999px;
  /* 技巧 */
  background-color: transparent;
  transition: all 0.5s 0.08s;
}

.option:hover {
  background-color: rgb(198, 196, 196);
  transform: translate(5px, -5px);
  height: 3.2rem;
  margin-right: 1rem;
  box-shadow: 2px 2px 10px pink;
}

.left-aside {
  background-image: linear-gradient(45deg, white, skyblue);
  border: 1px solid transparent;
  border-radius: 25px;
  padding-bottom: 5rem;
  width: 268px;
  mask-image: linear-gradient(to top, transparent, skyblue);
  /* backdrop-filter 可以实现类似效果,并且无顶层性 */
  position: sticky;
  top: 1rem;
  left: 3rem;
}

.giftbox {
  display: flex;
  justify-content: center;
}

.visibility {
  visibility: hidden;
  position: absolute;
  top: 30rem;
}

.left:hover .visibility {
  visibility: visible;
}

.main .preface {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 25px;
  min-width: 42%;
  flex: 1 1 0;
  cursor: pointer;
  padding-bottom: 1.2rem;
  line-height: 1.6;
  position: relative;
  user-select: none;
}

.card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main header h1 {
  color: rgb(240, 118, 240);
  font-weight: 900;
  text-shadow: 2px -5px 10px skyblue;
}

.main header p {
  margin: 1rem 0;
  color: gray;
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
}

.new {
  position: absolute;
  top: 4px;
  right: 10px;
  background-color: orangered;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0 0.4rem;
}

.icon {
  font-size: 3rem;
}

.card2 span {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgb(237, 229, 214);
  margin: 0.5rem;
  cursor: grab;
}

.card2 span:active {
  cursor: grabbing;
}

.animation {
  border-radius: 20px;
  margin-top: 1rem;
  width: 80%;
  height: 50px;
  overflow: hidden;
  background-color: rgb(233, 201, 201);
  position: relative;
  left: 9%;
}

.box {
  height: 50px;
  width: 50px;
  border: 3px solid skyblue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animation 5s infinite;
  position: absolute;
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
    left: -20%;
    box-shadow: 2px 5px 10px pink;
    background-color: black;
    color: pink;
    opacity: 0.2;
  }

  30% {
    transform: rotate(120deg);
    left: 25%;
    box-shadow: 7px 15px 20px white;
    background-color: green;
    color: white;
    opacity: 0.5;
  }

  50% {
    transform: rotate(180deg);
    left: 40%;
    box-shadow: 12px 25px 30px skyblue;
    background-color: yellow;
    color: skyblue;
    opacity: 0.7;
  }

  100% {
    transform: rotate(360deg);
    left: 100%;
    box-shadow: 15px 35px 40px black;
    background-color: purple;
    color: black;
    opacity: 1;
  }
}

.content {
  padding: 1rem;
}

.image-corridor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.image img {
  display: block;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 10;
  cursor: not-allowed;
}

.image {
  overflow: hidden;
  /* 技巧 */
  border-radius: 10px;
}

.gallery-section {
  margin-top: 2rem;
}

.notice-center h2 {
  margin: 2rem 0 1rem 0;
  white-space: nowrap;
}

.notice-box {
  border: 1px solid orange;
  border-radius: 15px;
  overflow-y: scroll;
  max-height: 180px;
  background-color: rgb(229, 165, 142);
}

.notice {
  padding: 0.5rem;
  border-bottom: 1px solid orange;
  margin: 0.2rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(244, 217, 167);
  cursor: pointer;
}

/* .notice-box {
  scrollbar-width: thin;
  scrollbar-color: rgb(229, 195, 132) rgb(222, 160, 137);
} */

.notice-box::-webkit-scrollbar {
  width: 6px;
}

.notice-box::-webkit-scrollbar-track {
  background: #f1e5d6;
  border-radius: 10px;
}

.notice-box::-webkit-scrollbar-thumb {
  background: #d39466;
  border-radius: 10px;
}

.notice-box::-webkit-scrollbar-thumb:hover {
  background: #c07851;
}